@font-face {
    font-family: 'Dala Floda Web';
    src: url('/fonts/DalaFloda-Bold-Web.woff2') format('woff2'),
         url('/fonts/DalaFloda-Bold-Web.woff') format('woff');
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
  }
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Book.woff2') format('woff2'),
         url('/fonts/Gotham-Book.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
  }
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Thin.woff2') format('woff2'),
         url('/fonts/Gotham-Thin.woff') format('woff');
    font-weight:  100;
    font-style:   normal;
  }
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'),
         url('/fonts/Gotham-Bold.woff') format('woff');
    font-weight:  700;
    font-style:   normal;
  }
