$Gotham: 'Gotham';
$headingTxt: 'Dala Floda Web';
$fontNormal: 400;
$fontThin: 100;
$fontBold: 700;
$bgColor: #101414;
$heroBg: #182222;
$darkGray: #707070;
$lightGray: #DDDFDF;
$white: #ffffff;
$black: #000000;
$footerBg: #1B2626;
$activeColor: #00C9A5;
$linkMint: #34EAC9;
$slickInactive: #6c6c6c;
$gap: 70px;
$gradient: linear-gradient(108.05deg, #00C9A5 -1.97%, #000F59 119.17%);
